<div class="container">
  <h3 class="text-center">Let's Chat</h3>
  <div class="list-group">
    <div *ngFor="let msg of messages">
      <div [ngClass]="{'received-message': msg.type === 'received', 'sent-message':msg.type === 'sent' }"
        class="list-group-item items-wrapper">
        <div class="d-flex w-100 justify-content-between">
          <h5>{{msg.message}}</h5>
          <small>{{msg.date | date:'medium'}}</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  <input mdbInput (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message"
    type="text" [value]="txtMessage" class="form-control">
</div>